.menu-section {
        background-color: #2e9ca0;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        color:#06283d;
        width:100%;
        padding: 20px;
        text-align: center;
        margin-bottom: 30px;
}

.menu-items {
        display: flex;
        flex-direction: column;
        gap: 20px;


}

.menu-item {
        color: #06283d;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
}

h3 {
        font-size: 1.8rem;
}

h5 {
        font-size: 1.4rem;
        color: #e6d1b4;

}

