body{
        margin:0;
        padding:0;

}

.menu-section {
        background-color: #2e9ca0;
        text-align: center;
        padding: 4rem 2.5rem;
        clip-path: polygon(18% 6%, 60% 0, 81% 5%, 81% 100%, 38% 96%, 18% 100%);
        width: 100%;
      
}

.menu-items {
        display: flex;
        flex-direction: column;
        gap: 20px;


}

.menu-item {
        color: #06283d;
        padding: 50px;
        border-radius: 10px;
        text-align: center;
}

h3 {
        font-size: 1.8rem;
}

h5 {
        font-size: 1.4rem;
        color: #e6d1b4;

}
/* mobil(max-width: 768px) */
@media (max-width: 768px) {
        .menu-section {
                padding: 2rem 1.5rem;
        }
        .menu-item {
                padding: 50px;
        }
        body {
        margin:0;
        padding:0;
        width:100%;
        }
}